@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Reggae+One&display=swap');

:root {
  /* font-family */
  --font-lato: 'Lato', sans-serif;

  /* color */
  --color-primary: rgb(29, 66, 168);
  --color-secundary: rgb(200, 16, 46);
  --color-terciary: #fff;
  --color-text-primary: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-lato);
  color: var(--color-text-primary);
  text-decoration: none;
}

body {
  background-color: var(--color-primary);
}

.container {
  padding: 3vh 0;
}

.section-title {
  width: 100%;
  padding: 10px 8vw;
  background-color: var(--color-primary);
}

.league-img {
  width: 30vw;
}
