.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 9vw;
}

ul {
  display: flex;
  gap: 10px;
}

li {
  list-style: none;
}

.arrow-back,
.nav-configurations {
  padding: 10px;
  cursor: pointer;
}
