/* Teams */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.league-container {
  display: flex;
  justify-content: center;
  gap: 10vw;
  align-items: center;
  background-color: var(--color-terciary);
  height: 30vh;
}

.league-img {
  color: aliceblue;
}

.league-info-container {
  color: aliceblue;
}

.league-name {
  text-shadow: 1px 1px 2px black;
  color: var(--color-secundary);
  font-size: 7rem;
}

.league-number-teams {
  text-shadow: 1px 1px 2px black;
  color: var(--color-primary);
  font-size: 3rem;
}

/* Teams */

.teams-container {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
}

/* Team */

.team-container {
  position: relative;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
}

.team-container:nth-child(4n-2) {
  background-color: var(--color-secundary);
}

.team-container:nth-child(4n-1) {
  background-color: var(--color-secundary);
}

.team-badge-img {
  width: 20vw;
  height: 20vw;
  align-self: flex-start;
  margin-left: 15vw;
}

.button-arrow-right {
  position: absolute;
  top: 3vw;
  width: 5vw;
  height: 5vw;
}

.team-name {
  color: var(--color-text-primary);
  text-shadow: 1px 1px 2px black;
  font-size: 2rem;
}

.team-info {
  color: var(--color-text-primary);
  text-shadow: 1px 1px 2px black;
  font-size: 1.5rem;
}

/* Team Match */

.team-matches-container {
  padding: 3vh 0;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  background-color: white;
}

.team-match-thumb {
  width: 100%;
  height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-match-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: rgba(56, 56, 56, 0.486);
  border-radius: 12px;
}

.team-match-container:nth-child(even) {
  background-color: var(--color-secundary);
}

.home-team,
.away-team {
  display: flex;
  gap: 10px;
}

.match-team-info {
  display: flex;
  width: 30vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.home-team-name,
.away-team-name,
.home-team-score,
.away-team-score,
.vs {
  text-shadow: 1px 1px 2px black;
  font-size: larger;
}
